*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/REFUGIATEWeb/nbproject/private/
/Refugiate/libs/google-play-services_lib/bin/
/Proyecto Tesis/RefugiateWeb/nbproject/private/
/Proyecto Tesis/RefugiateApp/gen/
/Proyecto Tesis/RefugiateApp/bin/
/Proyecto Tesis/RefugiateWeb/build/
/Proyecto Tesis/RefugiateApp/nbandroid/
/Proyecto Tesis/RefugiateDAO/nbproject/private/
/Proyecto Tesis/RefugiateEntidades/nbproject/private/
/Proyecto Tesis/RefugiateCOM/nbproject/private/
/Proyecto Tesis/Refugiate/nbproject/private/
/Proyecto Tesis/RefugiateEntidades/build/
/Proyecto Tesis/RefugiateDAO/build/
/Proyecto Tesis/RefugiateCOM/build/
/Proyecto Tesis/RefugiateEntidades/dist/
/Proyecto Tesis/RefugiateCOM/dist/
/Proyecto Tesis/RefugiateDAO/dist/
/Proyecto Tesis/RefugiateWeb/dist/
/Proyecto Tesis/RefugiateApp/.nb-gradle/private/